apiVersion: v1
kind: Service
metadata:
  name: jr-api-service
  namespace: jr-namespace
  labels:
    app: milestone2
    tier: api
spec:
  type: NodePort
  ports:
  - port: 8000
    targetPort: 8000
    nodePort: 30800
    protocol: TCP
    name: http
  selector:
    app: milestone2
    tier: api