---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: jr-database-pv
  labels:
    app: milestone2
    tier: database
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: manual
  hostPath:
    path: "/mnt/data/jr-mongodb"
    type: DirectoryOrCreate

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jr-database-pvc
  namespace: jr-namespace
  labels:
    app: milestone2
    tier: database
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: manual